html{
    background-color: black;
}
.container{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: auto;
    width: 360px;
    height: 450px;
    border-radius: 5px;
    border: 2px solid rgb(27, 26, 26);
}
button.numBtn{
    border-radius: 50%;
    margin: 5px;
    background-color: rgb(48, 45, 45);
    border: 1px solid black;
    font-size: 28px;
    color: white;
}
button.operBtn, #equal, #AC, #remove, #plusMinus{
    border-radius: 50%;
    margin: 5px;
    background-color: rgb(216, 141, 3);
    border: 1px solid black;
    font-size: 28px;
    color: white;
}
#AC, #remove, #plusMinus{
    background-color: rgb(175, 170, 170);
}
button:hover{
    transform: scale(1.05);
}
#output{
    margin: auto;
    width: 324px;
    height: 100px;
    border: 2px solid  rgb(27, 26, 26);
    border-radius: 5px;
    text-align: right;
    padding-top: 1rem;
    padding-right: 30px;
    font-size: 40px;
    background-color: black;
    color: white;
}
#zero{
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 40px;
    text-align: start;
    padding-left: 30px;
}
